{% extends 'layouts/base.html.twig' %}

{% block title %}C3Soft-Qui suis-je
{% endblock %}


{% block body %}
	<div class="container-fluid g-0">
		<header class="polygone">
			<h1>Pascal Jurion</h1>
			<svg class="sgvPolygone" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 100" preserveaspectratio="none">
				<polygon fill="#222a35" points="0,100 100,0 100,100"/>
			</svg>
		</header>
		<section class="row about">
			<div class="portrait"></div>
			<div class="col col-lg-1 sloganTxt aa me-5">
				<span class="txt t1">- C3Soft - Créativité - Conception - Collaboration&nbsp;</span>
				<span class="txt t1">- C3Soft - Créativité - Conception - Collaboration&nbsp;</span>
			</div>
			<div class="col-sm-12 presentation">
				<h3 class="mb-3">Qui suis-je en quelques mots…</h3>
				<p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae tempora repudiandae odit
																				                    quasi libero
																				                    ad velit officiis corporis saepe earum vitae, itaque ducimus dolorum cumque soluta distinctio
																				                    voluptatibus aut dignissimos optio nisi quod, impedit reiciendis. Eveniet explicabo, quisquam
					<h3 class="mb-3">
						<span>C</span>réativité</h3>
				</p>
				<p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae tempora repudiandae
																				                        odit quasi libero
																				                        ad velit officiis corporis saepe earum vitae, itaque ducimus dolorum cumque soluta distinctio
					<h3 class="mb-3">
						<span>C</span>ollabaration</h3>
				</p>
				<p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae tempora
																				                            repudiandae odit quasi libero
																				                            ad velit officiis corporis saepe earum vitae, itaque ducimus dolorum cumque soluta
																				                            distinctio
																				                            voluptatibus aut dignissimos optio nisi quod, impedit reiciendis. Eveniet explicabo,
																				                            quisquam
																				                            tempora inventore, autem sed ullam deleniti quae officiis vero reprehenderit voluptate
																				                            fugiat!</p>
				<h3 class="mb-3">
					<span>C</span>ollabaration</h3>
				<p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae tempora
																				                            repudiandae odit quasi libero
																				                            ad velit officiis corporis saepe earum vitae, itaque ducimus dolorum cumque soluta
																				                            distinctio
																				                            tempora inventore, autem sed ullam deleniti quae officiis vero reprehenderit voluptate
																				                            fugiat!</p>
			</div>
		</section>
	</div>
{% endblock %}
