*,::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #222a35;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    color: #ebebeb;
    /* background-image: url('../../public/images/bg_contact.jpg'); */
}

/* ///////////////////////////// NAVBAR ///////////////////////////////// */

.js-collapseNavbar{
    background-color: #2e4058 !important;
    border-radius: 0 0 400px 0;
}
.js-mainNavbar{
    background-color: #2e4058  !important;
    border-radius: 0 0 400px 0;
}

.navbar-brand{
    color: #ececec !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    margin-left: 5px;
}

.navbar-brand span{
    font-size: 1.1rem;
}

.nav-link{
    font-family: 'Roboto', sans-serif;
    color: #e6e6e6 !important;
    font-size: 1.2rem;
    letter-spacing: 3px;
    padding-bottom: 0.3rem;
}

.activ{
    color: #7EC65E !important;
    font-weight: bolder;
    border-bottom: 1px solid #7EC65E;
}

.nav-services:after{
    display: block;
    content: '';
    border-bottom: 1px solid #4ea575;
    transform: scale(0);
    transition: transform 250ms ease-in-out;
}

.nav-services:hover:after{
    transform: scale(1);
}

.nav-item:after{
    display: block;
    content: '';
    border-bottom: 1px solid #4ea575;
    transform: scale(0);
    transition: transform 250ms ease-in-out;
}

.nav-item:hover:after{
    transform: scale(1);
}

/* hamburger */
.toggler-icon{
    width: 30px;
    height: 3px;
    background: #4ea575;
    margin: 5px;
}

.navbar-toggler:focus,
.navbar-toggler:active{
    box-shadow: none;
    outline: none;
}

.navbar-toggler.active .toggler-icon:nth-child(2){
    opacity: 0;
}

.navbar-toggler.active .toggler-icon:nth-child(1){
    transform: translateY(5px) rotate(45deg);
}

.navbar-toggler.active .toggler-icon:nth-child(3){
    transform: translateY(-5px) rotate(-45deg);
}

/* ///////////////////////////// HOME ///////////////////////////////// */

.wrapper{
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
    flex-wrap: wrap;
    padding-left: 6rem;
    color: #ebebeb;
}

.wrapper h1{
    font-family: Lato, sans-serif;
    font-size: 4rem;
    padding-bottom: 12rem;
}

.ml7{
    position:relative;
    font-size: 6rem;
    font-family: Lato, sans-serif;
}

.ml7 .text-wrapper{
    position: relative;
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.ml7 .letter{
    opacity: 0;
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
}
/* icon media */
.medias{
    position: absolute;
    list-style: none;
    right: 2%;
    top: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media{
    position: relative;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
    cursor: pointer;
}

.logo-media{
    width: 2rem !important;
    /* height: 1rem !important; */
    transition: all .3s ease;
}

.logo-media:hover{
    transform: scale(1.3);
}

canvas{
    padding-top: 100px;
}
/* /////////////////////// CONTACT ///////////////////////////// */

.bg-contact{
    height: 100vh;
    /* background-color: crimson; */
    /* background-image: url('../../public/images/bg_contact.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow:inset 0 0 0 2000px rgba(34, 42, 53, .87);
} 

.title-contact{
    text-align: center;
    padding-top: 7rem;
    margin-bottom: 6rem;
    color: #ebebeb;
    font-family: Lato, sans-serif;
    font-size: 5rem;
}

.form-control{
    background: transparent;
    color: #ebebeb !important;
}


.form-input:focus{
    background: transparent;
    border-color: #4ea575;
    border-right: none;
    border-left: none;
    border-top: none;
    border-radius: 0;
    box-shadow: 0 0 0;
}

/* textarea */

.form-ta{
    resize: none;
    /* background: transparent; */
    min-height: 10rem !important;
}

.form-ta:focus{
    background: transparent;
    border-color: #4ea575 !important;
    box-shadow: 0 0 0;
}

/* button */
.btn-contact{
    /* width: 180px; */
    font-size: 15px;
    color: #ebebeb;
    border: 1px solid #4ea575;
    border-radius: 6px;
    transition: .6s lineare;
}

.btn-contact:hover{
    background-color: #4ea575;
    color: #ebebeb;
}

.btn-contact img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: -38px;
    opacity: 0;
    transition: .6s lineare;
}

.btn-contact:hover img{
    opacity: 1;
}
/* info */

.sublight{
    color: #4ea575
}
/* /////////////////////// MEDIA ///////////////////////////// */

@media screen and (max-width:990px){
    .experience{
        display: none;
    }

    .nav-first{
        margin-top: 80px;
    }

    .nav-link:last-child{
        margin-bottom: 80px;
    }

    /* main{
        position: absolute;
        top: 120px;
    } */

    .nav-link{
        z-index: 100;
        margin-left: 1rem;
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .nav-item:after{
        display: none;
    }

    .ml7{
        font-size: 2.2rem;
    }

    .title-contact{
        padding-top: 4rem;
        margin-bottom: 0;
        font-size: 3rem; 
    }

    .row-contact{
        margin-top: 1rem !important;
    }

    /* .info {
        display: none;
    } */

    .infos{
        /* display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 0; */
        margin-top: 1rem;
        margin-left: 0 !important;
    }
}

/* /////////////////////// SKILLS //////////////////////////////// */
.title-skills{
    text-align: center;
    padding-top: 7rem;
    /* margin-bottom: 6rem; */
    color: #ebebeb;
    font-family: Lato, sans-serif;
    font-size: 5rem;
}
.node{
    stroke-width: 1.5px;
}

.node:hover circle{
    fill: gray;
}

text{
    font: 18px 'Open Sans', sans-serif;
    text-anchor: middle;
    pointer-events: none;
    fill: white;
}

circle{
    fill: red;
    opacity: 0.2;
    stroke: rgb(255,255,255);
    stroke-width: 1px;
}

/* /////////////////////// ABOUT //////////////////////////////// */



.polygone{
    /* background: transparent; */
    position: relative;
    height: 300px;
    width: 100%;
    background-image: linear-gradient(#222a35, #374250, #222a35);
    color: #ebebeb;
}

.polygone h1 {
    padding-top: 50px;
    margin-left: 15px;
    font-family: Lato;
    font-size: 6vw;
}

.sgvPolygone {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
}

.about {
     display: flex;
     flex-wrap: wrap;
    color: #ebebeb
}

.portrait {
    background-image: url('../images/croquis.png');
    background-repeat: no-repeat;
    background-size:80% auto;
    width: 30rem;
    height: 35rem;
    opacity: .5;
    margin-left: 13rem;
    transition: .5s ease-in-out;
}

.portrait:hover {
    background-image: url('../images/croquis2.png');
}

.presentation {
    display: flex;
    position: absolute;
    top: 10rem;
    left: 60%;
    flex-direction: column;
    margin-left: 30px;
}

.presentation h2 {
    margin-bottom: 5rem;
}

h3{
    font-family: Lato;
}

h3 span{
    color:#4ea575;
    font-weight: bold;
}
/*//////////////////////////////////////// text defil //////////////////////////*/

.sloganTxt {
    display: flex;
    width: 100%;

    position: absolute;
    transform: rotate(-90deg);
}

.txt {
    white-space: nowrap;
    font-size: 150px;
    font-family: Lato;
    opacity: .2;
}

.t1 {
    animation: animTxt1 20s linear infinite;
}

.t2 {
    animation: animTxt2 5s linear infinite;
}

@keyframes animTxt1 {
    0% {
        transform: translate(-100%, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes animTxt2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}


/* .transition-fade {
    opacity: 1;
    transition: 1.5s;
    transform: translateX(0);
    transform-origin: left;
}

html.is-animating .transition-fade {
    opacity: 1;
    transform: translateX(100%);
}

html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateX(0);
} */

@media (max-width: 900px){
    .portrait {
        opacity: .1;
        margin-left: auto;
    }
    .sloganTxt {
        display: none;
        /* position: absolute;
        top:25%;
        transform: translateY(-50%); */
    }
    .presentation{
        left: 0;

    }
    .body-page{
        overflow: auto;
    }
}