{% set route_name = app.request.attributes.get('_route') %}
<nav class="navbar navbar-expand-lg fixed-top" id="mainNavbar">
{# <nav class="navbar navbar-expand-lg bg-transparent fixed-top" > #}
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home') }}">
    <img src="{{ asset('images/c3logoX.png') }}" alt="logo C3Soft.fr" width="79" height="40" class="d-inline-block align-top">
    C3Soft <span class="experience">Experience</span>
    </a>
    <button class="navbar-toggler btn-hamburger" id="btnNav" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <div class="toggler-icon"></div>
      <div class="toggler-icon"></div>
      <div class="toggler-icon"></div>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-5">
        <li class="nav-item me-2">
          <a class="nav-link" href="{{ path('app_about') }}">Qui suis-je</a>
        </li>
        <li class="nav-item nav-first me-2">
          <a {% if route_name == "app_skills" %} class="nav-link activ" {% else %} class="nav-link" {% endif %} href="{{ path('app_skills') }}">Compétences</a>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
          <a {% if route_name == "app_contact" %} class="nav-link activ" {% else %} class="nav-link" {% endif %} href="{{ path('app_contact') }}">contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

