{% for message in app.flashes('notice') %}
		<div aria-live="polite" aria-atomic="true" class="position-relative">
			<!-- Position it: -->
			<!-- - `.toast-container` for spacing between toasts -->
			<!-- - `.position-absolute`, `top-0` & `end-0` to position the toasts in the upper right corner -->
			<!-- - `.p-3` to prevent the toasts from sticking to the edge of the container  -->
				<div class="toast-container position-absolute top-0 end-0 p-5 mt-5"> <div class="toast align-items-center text-white" style="background-color:#4e55ac" role="alert" aria-live="assertive" aria-atomic="true">
					<div class="d-flex">
						<div class="toast-body">
							<svg enable-background="new 0 0 24 24" height="32" viewbox="0 0 24 24" width="32" xmlns="http://www.w3.org/2000/svg"><path fill="#ebebeb" d="m8.75 17.612v4.638c0 .324.208.611.516.713.077.025.156.037.234.037.234 0 .46-.11.604-.306l2.713-3.692z"/><path fill="#ebebeb" d="m23.685.139c-.23-.163-.532-.185-.782-.054l-22.5 11.75c-.266.139-.423.423-.401.722.023.3.222.556.505.653l6.255 2.138 13.321-11.39-10.308 12.419 10.483 3.583c.078.026.16.04.242.04.136 0 .271-.037.39-.109.19-.116.319-.311.352-.53l2.75-18.5c.041-.28-.077-.558-.307-.722z"/></svg>
							<p class="d-inline-block ms-3">
								{{message}}</p>
						</div>
						<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
