{% extends 'layouts/base.html.twig' %}

{% block title %}C3soft- Contact{% endblock %}


{% block body %}
	<main class="bg-contact" style="background-image:url('{{ asset('images/bg_contact.jpg') }}')">
		<div class="container">
			<h1 class="title-contact">Prenons contact</h1>
			<div class="row-contact row mt-5">
				<div class="col-md-6">

					{{ form_start(formContact) }}

					<div class="form-floating mb-5">
						{{ form_widget(formContact.email)}}
						{{ form_label(formContact.email)}}

					</div>

					<div class="form-floating mb-5">
						{{ form_widget(formContact.message)}}
						{{ form_label(formContact.message)}}

					</div>

                    <div class="d-grid gap-2">
					    <button class="btn btn-contact"><img class="logo-send" src="{{ asset('images/icons/send.svg') }}" alt="Envoyer le message">Poster</button>
                    </div>







					{{ form_end(formContact )}}
				</div>

                <div class="col-md-6">
                    <div class="infos ms-5">
                        <p class="info mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium aliquam fugit corrupti assumenda facere tempore libero porro inventore voluptas nisi?</p>
                        <div class="row mb-5">
                            <div class="col-sm-1">
                                <img class="logo-media" src="{{ asset('images/icons/mail.svg') }}" alt="">
                            </div>
                            <div class="col">
                                <p class="mb-0">Email</p>
                            </div>
                            <p class="sublight mb-0">contact@c3soft.fr</p>
                        </div>

                        <div class="row mb-5">
                            <div class="col-sm-1">
                                <img class="logo-media" src="{{ asset('images/icons/phone.svg') }}" alt="">
                            </div>
                            <div class="col">
                                <p class="mb-0">Téléphone</p>
                            </div>
                            <p class="sublight mb-0">06 04 48 23 36</p>
                        </div>
                    </div>
                </div>

			</div>

		</div>
	</main>

{% endblock %}

{# <div class="col">
        {{ form_row(formView.name)}}
       {{ form_label(formView.name)}}
        {{ form_errors(formView.name)}}
        {{ form_widget(formView.name)}}
        {{ form_help(formView.name)}} 
        {{ form_row(formView.shortDescription)}}
    </div>#}
