{% extends 'layouts/base.html.twig' %}

{% block title %}C3soft-Développeur web
{% endblock %}

{% block body %}

	{% include "layouts/partials/_toastContact.html.twig" %}

	<canvas id="c"></canvas>

	<div class="wrapper">
		<h1 class="title">Pascal Jurion</h1>
		<div class="ml7" id="title">
			<span class="text-wrapper">
				<span class="letters"></span>
			</span>
		</div>
	</div>

	<ul class="medias">
		<li class="media">
			<a href="https://gitlab.com/c3soft" target="_blank" rel="noopener"><img src="{{ asset('images/icons/gitlab.svg') }}" alt="lien vers gitlab" class="logo-media"></a>
		</li>
		<li class="media">
			<a href="https://github.com/c3soft" target="_blank" rel="noopener"><img src="{{ asset('images/icons/github.svg') }}" alt="lien vers github" class="logo-media"></a>
		</li>
		<li class="media">
			<a href="https://www.linkedin.com/in/pascal-jurion/" target="_blank" rel="noopener"><img src="{{ asset('images/icons/linkedin.svg') }}" alt="lien vers linkedin" class="logo-media"></a>
		</li>
		<li class="media">
			<a href="#" target="_blank" rel="noopener"><img src="{{ asset('images/icons/pdf.svg') }}" alt="télécharger le cv pdf " class="logo-media" title="Télécharger le CV"></a>
		</li>
	</ul>

{% endblock %}
