{% extends 'layouts/base.html.twig' %}

{% block title %}
    Compétences
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="title-skills">Bien plus qu'une passion ...</h1>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.0.0/d3.min.js"></script>
    <script src="{{ asset('js/app-d3.js') }}"></script>
{% endblock %}